#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


body {
  background-color: #1e1e1e;
  color: #f5f5f5;
  font-family: sans-serif;
  margin: 0;
}

/* Центровщик */
.form-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.centered-table {
  margin: 2rem auto;
  background: #2c2c2c;
  padding: 2rem;
  padding-right: 0;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}



/* Форма */
.form-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  min-width: 360px;
  max-width: 420px;
  background: #2c2c2c;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}

/* Поля ввода и кнопка */
input,
button {
  margin: 0px;
  gap: 0px;
  padding: 10px 14px;
  border-radius: 8px;
  border: 1px solid #444;
  background-color: #1e1e1e;
  color: #f5f5f5;
  font-size: 1rem;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

/* Фокус */
.form-content input:focus,
.form-content button:focus {
  border-color: #4ea8de;
  box-shadow: 0 0 0 2px rgba(78, 168, 222, 0.4);
  outline: none;
}

/* Кнопка */
.form-content button {
  background-color: #007acc;
  border: none;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

.form-content button:hover {
  background-color: #005fa3;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
  margin-bottom: 30px;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
